/* Meus componentes */
/* Navbar */
#navbar {
    transition: all .5s !important;
}

.bg-nav-scroll {
    background-color: rgba(25, 29, 32, .75);
}

.bg-nav-scroll:hover {
    background-color: rgba(25, 29, 32, 1);
}

.icon-nav {
    cursor: pointer;
    transition: 300ms;
}

.icon-nav:hover {
    color: var(--bs-primary-text-emphasis);
}

/* Cards */
.card-size {
    width: 350px !important;
    height: 200px !important;
    transition: 300ms;
}

.card-size:hover {
    box-shadow: 0 0 4px rgba(150, 150, 150, .6);
}

div.card-size,
.carousel-item {
    cursor: pointer;
}

/* Carousel */
.height-carousel {
    max-height: 98vh !important;
}

.bg-dark-4 {
    background-color: rgba(32, 32, 32, .4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(32, 32, 32, .8);
}

/* HorizontalController */

.scroll-container {
    scroll-behavior: smooth;
    /* Adiciona rolagem suave */
    /* Opcional: Ocultar a barra de rolagem nativa para webkit (Chrome, Safari, Edge) */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Opcional: Ocultar a barra de rolagem nativa */
.scroll-container::-webkit-scrollbar {
    display: none;
}

.btn-scroll {
    position: absolute;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    z-index: 3;
    background-color: rgba(32, 32, 32, .4);
}

.btn-scroll:hover {
    background-color: rgba(32, 32, 32, .8);
}

.btn-scroll.start-0 {
    box-shadow: 5px 0 10px rgba(32, 32, 32, .4);
}

.btn-scroll.start-0:hover {
    box-shadow: 5px 0 10px rgba(32, 32, 32, .8);
}

.btn-scroll.end-0 {
    box-shadow: -5px 0 10px rgba(32, 32, 32, .4);
}

.btn-scroll.end-0:hover {
    box-shadow: -5px 0 10px rgba(32, 32, 32, .8);
}

.btn-scroll.start-0:active,
.btn-scroll.end-0:active {
    box-shadow: none;
}

/* ========== MoviePage ========== */
.btn-backpage {
    border: 1px solid #eee;
    color: #eee;
    background-color: var(--bs-dark-bg-subtle);
    border-radius: 50%;
}

.btn-backpage:hover {
    border: 1px solid #eee;
    color: var(--bs-primary-text-emphasis);
    border-color: var(--bs-primary-text-emphasis);
    /* box-shadow: inset 0 0 4px var(--bs-primary-text-emphasis); */
}

/* ========== Fades ========== */
.fade-enter {
    opacity: 0;
    transform: translateX(40px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .3s ease, transform .3s ease;
}

.fade-exit {
    opacity: 1;
    transform: translateX(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity .3s ease, transform .3s ease;
}