/* Meus componentes */

#navbar {
    transition: all .5s !important;
}

.bg-nav-scroll {
    background-color: rgba(25, 29, 32, .75);
}

.bg-nav-scroll:hover {
    background-color: rgba(25, 29, 32, 1);
}

.card-size {
    width: 350px !important;
    height: 200px !important;
}

.height-carousel {
    max-height: 98vh !important;
}

.bg-dark-4 {
    background-color: rgba(32, 32, 32, .4);
    box-shadow: 10px 0 5px rgba(32, 32, 32, .4), -10px 0 5px rgba(32, 32, 32, .4);
}

.scroll-container {
    scroll-behavior: smooth; /* Adiciona rolagem suave */
    /* Opcional: Ocultar a barra de rolagem nativa para webkit (Chrome, Safari, Edge) */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Opcional: Ocultar a barra de rolagem nativa */
.scroll-container::-webkit-scrollbar {
    display: none;
}

.btn-scroll {
    position: absolute;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    z-index: 3;
    background-color: rgba(32, 32, 32, .4);
}

.btn-scroll:hover {
    background-color: rgba(32, 32, 32, .8);
}

.btn-scroll.start-0 {
    box-shadow: 5px 0 10px rgba(32, 32, 32, .4);
}

.btn-scroll.start-0:hover {
    box-shadow: 5px 0 10px rgba(32, 32, 32, .8);
}

.btn-scroll.end-0 {
    box-shadow: -5px 0 10px rgba(32, 32, 32, .4);
}

.btn-scroll.end-0:hover {
    box-shadow: -5px 0 10px rgba(32, 32, 32, .8);
}

.btn-scroll.start-0:active, .btn-scroll.end-0:active {
    box-shadow: none;
}